flows.json
[{"id":"56c6908d.34c3a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe340ef9.5a3db","type":"ibmiot in","z":"56c6908d.34c3a","authentication":"apiKey","apiKey":"5cf4dc8.c49d724","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"shm123","applicationId":"","deviceType":"NodeMcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":190,"y":540,"wires":[["db0b2e5f.1896e","4498e1c0.9e894","b4b1c958.9460c8"]]},{"id":"db0b2e5f.1896e","type":"debug","z":"56c6908d.34c3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":540,"wires":[]},{"id":"4498e1c0.9e894","type":"function","z":"56c6908d.34c3a","name":"temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":480,"wires":[["db0b2e5f.1896e","fa34ecf2.0297c"]]},{"id":"b4b1c958.9460c8","type":"function","z":"56c6908d.34c3a","name":"pulse","func":"global.set('pulse',msg.payload.Pulse)\nmsg.payload=msg.payload.Pulse;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":600,"wires":[["db0b2e5f.1896e","2e7b61d1.4a0b0e"]]},{"id":"fa34ecf2.0297c","type":"ui_text","z":"56c6908d.34c3a","group":"2823f35b.8d6e7c","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":480,"wires":[]},{"id":"2e7b61d1.4a0b0e","type":"ui_text","z":"56c6908d.34c3a","group":"2823f35b.8d6e7c","order":1,"width":0,"height":0,"name":"","label":"Pulse","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":600,"wires":[]},{"id":"d8afe35.e135a2","type":"http in","z":"56c6908d.34c3a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":210,"y":720,"wires":[["5cbc669.64f3898"]]},{"id":"3c747f08.ad8d1","type":"http response","z":"56c6908d.34c3a","name":"","statusCode":"","headers":{},"x":630,"y":720,"wires":[]},{"id":"5cbc669.64f3898","type":"function","z":"56c6908d.34c3a","name":"data","func":"msg.payload={'temperature':global.get(\"Temperature\"),'pulse':global.get(\"Pulse\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":720,"wires":[["3c747f08.ad8d1"]]},{"id":"5cf4dc8.c49d724","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2823f35b.8d6e7c","type":"ui_group","z":"","name":"Default","tab":"36d7fa84.a00c96","order":1,"disp":true,"width":"6","collapse":false},{"id":"36d7fa84.a00c96","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]